:root {
    box-sizing: border-box;

    --color-primary: #2A2B40;
    --color-purple: #685BF2;
    --color-white: #FFFFFF;
    --color-purple_dark: #0F136A;
    --color-purple_light: #74769E;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-size: 0.83em;
    font-family: 'Poppins', sans-serif;
    color: var(--color-primary);
}

.container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}


/* NAVIGATION */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2em 0;
}

.logo{
    height: 2.7rem;
    margin-right: 2.5em;
}
.menu--items{
    width: 100%;
    display: flex;
    list-style-type: none;
}

.nav-right{
    margin-left: auto;
}

.menu--link{
    display: block;
    color: var(--color-purple_dark);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding: 1em 1.4em;
}

/* HERO */
.hero{
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.hero--left{
    width: 55%;
}

.hero--headline{
    font-size: 3.8rem;
    margin: 2.5rem 0 2rem;
    line-height: 1.4;
}

.hero--subheadline{
    font-family: 'Raleway', sans-serif;
    color: var(--color-purple_light);
    line-height: 1.7;
    letter-spacing: 0.05em;
    width: 75%;
    margin-bottom: 3.5rem;
}

.button{
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-radius: 3em;
    padding: 1em 2em;
}

.button--primary{
    background-color: var(--color-purple);
    color: var(--color-white);
}

.button--secondary{
    color: var(--color-purple);
    border: var(--color-purple) 2px solid;
    margin-left: 2em;
}

.hero--right{
    width: 45%;
    position: relative;
}

.hero--img{
    width: 95%;
    margin-top: 1em;
    position: absolute;
    right: 0;
}


/* RESPONSIVE */
